@tailwind base;
@tailwind components;
@tailwind utilities;

.list-memo {
    display: inline-block;
    width: fit-content;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}